<div class="mt-5">
    <div class="section borderShadow">
        <div class="col-12">
            <h5 class="section__header card-title d-flex align-items-center">
                <span>Ranking geral dos estados</span>       
            </h5>
        </div>

        <div class="section__content py-3 px-2" style="min-height: 320px;">
            <div class="grafico" style="height: 400px; width: 100%;">
                <canvas class="canvas-ranking" #ranking responsive></canvas>
            </div>
        </div>
    </div>
</div>
