<div class="card">
    <div class="card-body">
        <div class="row mb-4">
            <h5 class="col-md-6 card-title d-flex align-items-center">
                <span>Ranking geral dos estados</span>       
            </h5>

            <!-- <form class="col-md-6 d-flex justify-content-end align-items-start">
                <div class="form-group">
                    <label class="form-label" for="exampleFormControlSelect1">
                        Selecione uma edição
                    </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>2023</option>
                        <option>2022</option>
                        <option>2021</option>
                        <option>2020</option>
                        <option>2019</option>
                    </select>
                </div>
            </form> -->
        </div>

        <div class="grafico" style="height: 400px; width: 100%;background:#f0f0f8;">
            <canvas class="canvas-ranking" #ranking responsive></canvas>
        </div>
    </div>
</div>
