:host {
    overflow-x: auto;
    padding-bottom: 10px;
}
.card {
    min-width: 200px;
}

.card.card-margin {
    margin-left: 20px;
}

.card-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    color: #a7b1ba;
}

.card-subtitle {
    color: #9572e6 !important;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}